.itemsContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 40%;
	margin: 20px 10px 20px 40px;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 15px;
	background-color: #f0ffff;
}

.itemContainer {
	margin: 5px 0;
}

.addTask {
	display: flex;
	justify-content: flex-start;
	margin-left: 40px;
}

.addTaskForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 40px;
}

.inputBlock {
	margin: 10px 0;
}
.inputBlock label {
	display: inline-block;
	width: 140px;
	text-align: left;
	margin-left: 20px;
}
.inputBlock input {
	/* width: 195px; */
}

.inputBlock * {
	vertical-align: middle;
}
